@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  border-radius: 9999px;
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 9999px;
  background: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 9999px;
  background: #555;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
